In [4]:
import pandas as pd

In [5]:
# Get list of file names in the folder

from os import listdir
from os.path import isfile, join
bzpath = 'C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data'
file_list = [f for f in listdir(bzpath) if isfile(join(bzpath, f)) and ".csv" in f]
bzfiles = [join(bzpath,file_list[i]) for i in range(len(file_list))]

print "First 5 files: "
bzfiles[0:5]

First 5 files:

['C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data\\COES_Microcephaly-2016-02-13.csv',
 'C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data\\COES_Microcephaly-2016-02-20.csv',
 'C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data\\COES_Microcephaly-2016-02-27.csv',
 'C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data\\COES_Microcephaly-2016-03-05.csv',
 'C:\\Users\\jlandesman\\Documents\\MIDS\\209 - Data Visualization\\Final Project\\zika\\Brazil\\COES_Microcephaly\\data\\COES_Microcephaly-2016-03-12.csv']

In [6]:
#Read in the data and Concat to a Pandas Data Frame
results = [pd.read_csv(f, parse_dates = ['report_date']) for f in bzfiles] # Parse dates for each file individually!
bz = pd.concat(results) #Join into a single DF

#usa.index = usa.report_date # Set Index
bz.country = "Brazil"

#Look at DF:
bz.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-02-13,Brazil-Acre,state,microcephaly_under_investigation,BR0001,NaN,NaN,22,cases
1,2016-02-13,Brazil-Alagoas,state,microcephaly_under_investigation,BR0001,NaN,NaN,90,cases
2,2016-02-13,Brazil-Amapa,state,microcephaly_under_investigation,BR0001,NaN,NaN,NaN,cases
3,2016-02-13,Brazil-Amazonas,state,microcephaly_under_investigation,BR0001,NaN,NaN,NaN,cases
4,2016-02-13,Brazil-Bahia,state,microcephaly_under_investigation,BR0001,NaN,NaN,583,cases

In [7]:
#Split into states
bz['State'] = bz.location.str.split('-').str.get(1)
bz.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit,State
0,2016-02-13,Brazil-Acre,state,microcephaly_under_investigation,BR0001,NaN,NaN,22,cases,Acre
1,2016-02-13,Brazil-Alagoas,state,microcephaly_under_investigation,BR0001,NaN,NaN,90,cases,Alagoas
2,2016-02-13,Brazil-Amapa,state,microcephaly_under_investigation,BR0001,NaN,NaN,NaN,cases,Amapa
3,2016-02-13,Brazil-Amazonas,state,microcephaly_under_investigation,BR0001,NaN,NaN,NaN,cases,Amazonas
4,2016-02-13,Brazil-Bahia,state,microcephaly_under_investigation,BR0001,NaN,NaN,583,cases,Bahia